body {
  margin: 0;
  padding: 0;
  background-color: blue;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #bfbfbf;
}

.column {
  height: auto;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}
